* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  position: relative;
}
.scoreBoard {
  position: absolute;
  left: 0;
  top: 0%;
  color: #fff;
  margin: 1rem 2rem;
  font-weight: bold;
}
#modal {
}
